<div class="mt-4">
    <form method="post">
    <div class="mb-3">
        <label for="search-input" class="form-label">Input </label>
        <input type="text" class="form-control" name="q" id="search-input" placeholder="nhap cai gi vo di ni">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>